name: Build OpenAPI Client

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      - name: Upload client as artifact
        uses: actions/upload-artifact@v4
        with:
          name: generated-client
          path: clients/ts-fetch
